*.pyc
.env
*.pth
in_refmodel/Vector/main
*.onnx
*.lprof
*.jpg
*.pdf
*.npy
*.tar
wandb

__pycache__/
output/
outputs/
out/
temp/
tmp/
.vscode/
checkpoints/
dev/
.dev/
data/
data/coco/
data/mmdet_checkpoints/
data/yolov5
/testing
/data
/work
*.egg-info/
/hmodelzoo
hmodelzoo/
/hmodel
mqbench
hmodel
model_zoo
*.log
build/
dist/
*.ipynb
lightning_logs/
/work_dirs