__pycache__
cache
build
dist
opt175b
*.txt
*.pt
*egg-info*
*.csv
*.jpg
*.png
*.pdf
*.log
wandb
tmp
dev
.idea
output
lm_evaluate/env
*.pyc
lm_evaluate/data/
lm_evaluate/lm_cache
.idea
*.zip
datasets
data
lm_cache
outputs
checkpoints

cuda/build
*.so
*.egg-info
*.o
.vscode